@font-face {
  font-family: "PP Editorial New";
  src: url("./assets/fonts/PPEditorialNew-Regular-BF644b214ff145f.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Editorial New";
  src: url("./assets/fonts/PPEditorialNew-Ultralight-BF644b21500d0c0.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Editorial New";
  src: url("./assets/fonts/PPEditorialNew-Italic-BF644b214fb0c0a.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Editorial New";
  src: url("./assets/fonts/PPEditorialNew-UltralightItalic-BF644b214ff1e9b.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  background: #0c0c0b;
}
